include mixins
    footer
        .row
            .col-md-4
                img(src="assets/image/logo-grupo-la-republica.png")
                h1 Grupo La República Digital
                ul
                    li Jr.Camaná 320 Cercado de Lima
                    li Teléfono:711-6000
                    li (Central Telefónica)
                p Todos los derechos reservados-2015
            .col-md-3
                ul
                    +list1('#','Roger Federer')
                    +list1("#","SBS")
                    +list1("#","Scarlett Johansson")
                    +list1("#","Scotiabank")
                    +list1("#","Selena Gómez")
                    +list1("#","Spiderman")
                    +list1("#","Sporting Cristal")
                    +list1("#","Sunat")
                    +list1("#","Telefónica del Perú")
                    +list1("#","The Walking Dead")
                    +list1("#","Twitter")
                    +list1("#","Universidad César Vallejo")
                    +list1("#","Universidad San Martín")
                    +list1("#","Universitario de Deportes")
                    +list1("#","Xbox")
                    +list1("#","Youtube")
                    +list1("#","Bayern Múnich") 
                    +list1("#","Bayern Múnich")
                    +list1("#","BBVA")
                    +list1("#","Xbox")
            .col-md-3
                ul
                    +list2("#","Al fondo hay sitio")
                    +list2("#","Alejandro Toledo")
                    +list2("#","Alianza Lima")
                    +list2("#","Alianza Lima")
                    +list2("#","Banco de la Nación")
                    +list2("#","Barack Obama")
                    +list2("#","Universidad César Vallejo")
                    +list2("#","Universidad San Martín")
                    +list2("#","Barcelona")
                    +list2("#","Bayern Múnich")
                    +list2("#","Bayern Múnich")
                    +list2("#","BBVA")
                    +list2("#","Xbox")
                    +list2("#","BCP")
                    +list2("#","Batman")
                    +list2("#","Bayern Múnich")
                    +list2("#","Bayern Múnich")
                    +list2("#","BBVA")
                    +list2("#","Xbox")
                    +list2("#","BCP")
            .col-md-3
                ul
                    +list3("#","One Direction")
                    +list3("#","ONPE")
                    +list3("#","Pablo Escobar")
                    +list3("#","Paola Guerrero")
                    +list3("#","Pensión 65")
                    +list3("#","PNP")
                    +list3("#","Precio del dólar")
                    +list3("#","Universidad César Vallejo")
                    +list3("#","Universidad San Martín")
                    +list3("#","Premier League")
                    +list3("#","Bayern Múnich")
                    +list3("#","Bayern Múnich")
                    +list3("#","BBVA")
                    +list3("#","Xbox")
                    +list3("#","BCP")
                    +list3("#","Proyecto Conga")
                    +list3("#","PUCP")
                    +list3("#","Real Madrid")
                    +list3("#","Redes Sociales")
                    +list3("#","Reniec")
            .col-md-3
                ul
                    +list4("#","Al fondo hay sitio")
                    +list4("#","Alejandro Toledo")
                    +list4("#","Alianza Lima")
                    +list4("#","Alianza Lima")
                    +list4("#","Banco de la Nación")
                    +list4("#","Barack Obama")
                    +list4("#","Universidad César Vallejo")
                    +list4("#","Bayern Múnich")
                    +list4("#","Bayern Múnich")
                    +list4("#","BBVA")
                    +list4("#","Xbox")
                    +list4("#","BCP")
                    +list4("#","Universidad San Martín")
                    +list4("#","Barcelona")
                    +list4("#","Batman")
                    +list4("#","Bayern Múnich")
                    +list4("#","Bayern Múnich") 
                    +list4("#","BBVA")
                    +list4("#","Xbox")
                    +list4("#","BCP")
        .last-headline
            .col-md-12
                p Diarios del PAL: Clarín | La Tercera | El Universal Colombia | El Universal Venezuela | Vanguardia | La Prensa | El Salvador | La Verdad | Diario Libre | El Diario de hoy | El Colombiano 