/*HOME VARIABLES*/
$blue:#3E688C;
$gray:#ddd;
$red:#d9534f;
$pt:"PT Sans",sans-serif;
/*PORTADA VARIABLES*/
$electric-blue: #337ab7;
$sky-blue: #00ecff;
$vino: #ce3333;
$dark-gray: #555;
$black: #333;
/*FOOTER VARIABLES*/
$light-gray:#E6E6E6;