@import "_variables.scss";
.container {
    h1 {
        text-align: center;
        font-weight: bolder;
        font-size: 50px;
        padding: 14px;
        font-family:$pt;
    }

    p {
        font-family:$pt;
    }
}

form {
    .form-control {
        box-shadow: inset 0 3px 11px rgba(0, 0, 0, 0.25);
        margin-left: 232px;
        margin-top: 17px;
        width: 67%;
        background-color: rgba(48, 52, 56, 0.09);
    }

    .form-group {
        .col-sm-10 {
            .radio {
                margin-left: 227px;
            }

            .opcional {
                margin-left: 231px;
                margin-top: 7px;
                font-size: 13px;
                font-family:$pt;
            }
        }
    }

    .form-group {
        .radio {
            margin-right: 46px;
            font-size: 14px;
            margin-top: 9px;

            .choose {
                font-weight: bolder;
                margin-left: 232px;
                margin-left: 2px;
            }
        }
    }

    .form-group {
        textarea {
            margin-left: 400px;
            margin-top: -19px;
        }
    }

    .form-group {
        button {
            text-transform: uppercase;
            color: white;
            background-color: black;
            width: 236px;
            margin-left: 385px;
        }
    }
}