include ../helpers/variables
include ../helpers/mixins
doctype html
html(lang="es")
	head
		title Columnistas
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel="icon" href="assets/image/favicon.ico" type="image/x-icon")
		link(rel="stylesheet", href="assets/css/dist/font-awesome.min.css")
		link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700', type='text/css')
		link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700', type='text/css')
		link(rel="stylesheet", href="assets/css/dist/bootstrap.min.css")
		link(rel="stylesheet", href="assets/css/main.css")
	body
		include ../base/header
		section#columnistas
			.container
				h1.f-700 Columnistas
				h5.gray.f-300.mb-2 LO ÚLTIMO EN COLUMNISTAS
					i.fa.fa-angle-double-down.red
				.row.mb-2
					+columnist('Lima, viernes 31 de marzo del 2016','El gol del triunfo','img_author_columnista.jpg','columnistas','Augusto Álvaro Rodrich','Claro y directo')
					+columnist('Lima, viernes 31 de marzo del 2016','¿Cuál es tu queso favorito?','blog_avatar_01.jpg','columnistas','Mirko Lauer','Observador')
					+columnist('Lima, viernes 31 de marzo del 2016','El gol del triunfo','img_author_columnista.jpg','columnistas','Augusto Álvaro Rodrich','Claro y directo')
				.row.mb-2
					+columnist('Lima, viernes 31 de marzo del 2016','El gol del triunfo','img_author_columnista.jpg','columnistas','Augusto Álvaro Rodrich','Claro y directo')
					+columnist('Lima, viernes 31 de marzo del 2016','¿Cuál es tu queso favorito?','blog_avatar_01.jpg','columnistas','Mirko Lauer','Observador')
					+columnist('Lima, viernes 31 de marzo del 2016','El gol del triunfo','img_author_columnista.jpg','columnistas','Augusto Álvaro Rodrich','Claro y directo')
				.row.mb-2
					+columnist('Lima, viernes 31 de marzo del 2016','El gol del triunfo','img_author_columnista.jpg','columnistas','Augusto Álvaro Rodrich','Claro y directo')
					+columnist('Lima, viernes 31 de marzo del 2016','¿Cuál es tu queso favorito?','blog_avatar_01.jpg','columnistas','Mirko Lauer','Observador')
					+columnist('Lima, viernes 31 de marzo del 2016','El gol del triunfo','img_author_columnista.jpg','columnistas','Augusto Álvaro Rodrich','Claro y directo')
				.row.mb-2
					+columnist('Lima, viernes 31 de marzo del 2016','El gol del triunfo','img_author_columnista.jpg','columnistas','Augusto Álvaro Rodrich','Claro y directo')
					+columnist('Lima, viernes 31 de marzo del 2016','¿Cuál es tu queso favorito?','blog_avatar_01.jpg','columnistas','Mirko Lauer','Observador')
					+columnist('Lima, viernes 31 de marzo del 2016','El gol del triunfo','img_author_columnista.jpg','columnistas','Augusto Álvaro Rodrich','Claro y directo')


		include ../base/footer