include ../helpers/variables
include ../helpers/mixins
doctype html
html(lang="es")
  include ../base/head.jade
  body
    include ../base/header
    section#columnistas
      .container
        h1.f-700 Columnistas
        h5.gray.f-300.mb-2 LO ÚLTIMO EN COLUMNISTAS
          i.fa.fa-angle-double-down.red
        .row.mb-2
          +col-columna()
        .row.mb-2
          +col-columna()
        .row.mb-2
          +col-columna()
        .row.mb-2
          +col-columna()
        a.todas(src="",alt="") TODAS LAS COLUMNAS
        h5.gray.f-300.mb-2 TODOS LOS COLUMNISTAS
          i.fa.fa-angle-double-down.red
        .menu-alfabetico
          ul 
            li 
              a(src="",alt="") TODOS
            li 
              a(src="",alt="") ABC
            li 
              a(src="",alt="") ABC
            li 
              a(src="",alt="") ABC
            li 
              a(src="",alt="") ABC
            li 
              a(src="",alt="") ABC
            li 
              a(src="",alt="") ABC
            li 
              a(src="",alt="") ABC
            li 
              a(src="",alt="") ABC

        .row
          +col-columnist()
        .row
          +col-columnist()
        .row
          +col-columnist()
        .row
          +col-columnist()
        .row
          +col-columnist()
        .row
          +col-columnist()
        .row
          +col-columnist()
        .row
          +col-columnist()
        .row
          +col-columnist()
        .row
          +col-columnist()
        .row
          +col-columnist()
        .row
          +col-columnist()


    include ../base/footer