doctype html
html
  include ../base/head.jade
  body
    include ../base/header
    include home/portada
    include home/columnistas
    include home/ultimas-noticias
    include ../base/footer
    script(src="assets/js/bootstrap.min.js")
    script(src="assets/js/main.js")