@import "_mixins.scss";
@import "_variables.scss";
section.title {
    .headline {
        font-size: 43px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 30px;
        width: 884px;
        margin: auto;
        font-size: 50px;
        font-family: $pt;
    }
}

.container {
    .col-md-12 {
        .social-icons {
            text-align: center;
            margin-left: 128px;
            margin-top: 19px;
            margin-bottom: 18px;

            .face {
                color: $electric-blue;

                @include estilo-social($light-gray, 28px, 28px, 6px, 26px, center, 4px);

                box-shadow: 0px 5px $electric-blue;
            }

            .twit {
                color: $sky-blue;

                @include estilo-social($light-gray, 28px, 28px, 6px, 26px, center, 4px);

                box-shadow: 0px 5px $sky-blue;
            }

            .goo {
                color: $vino;

                @include estilo-social($light-gray, 28px, 28px, 6px, 26px, center, 4px);

                box-shadow: 0px 7px $sky-blue;
                background-color: $light-gray;
                height: 28px;
                width: 28px;
                line-height: 26px;
                text-align: center;
                border-radius: 4px;
                box-shadow: 0px 5px $vino;
            }

            .cir1 {
                @include circulo($dark-gray, 44px, 10px, 34px);
            }

            .cir {
                @include circulo($dark-gray, 44px, 10px, 34px);
            }

            .twelve {
                font-size: 12px;
                color: $dark-gray;
                font-family: $pt;
            }

            .politic {
                position: relative;
                font-size: 12px;
                color: $dark-gray;
                font-family: $pt;
            }
        }
    }

    .col-md-10 {
        .jne {
            @include on-top(absolute, 21);

            margin-top: 288px;
            color: white;
            font-size: 38px;
            font-size: 35px;
            width: 405px;
            @include text-edit(bolder,2px 2px $black,$pt);
            margin-left: 28px;
            line-height: 39px;
            margin-top: 379px;
        }
    }

    .col-md-6 {
        p {
            @include on-top(absolute, 21);
            margin-top: 162px;
            margin-left: -92px;
            color: white;
            font-size: 22px;
            width: 399px;
            line-height: 23px;
            @include text-edit(bolder,2px 2px $black,$pt);
        }

        .portada2 {
            margin-left: -122px;
        }

        .final {
            position: absolute;
            z-index: 21;
            margin-top: 180px;
            color: white;
            font-size: 22px;
            text-shadow: 2px 2px $black;
            font-family: $pt;
        }

        .portada3 {
            width: 459px;
            margin-left: -121px;
            margin-top: 11px;
            margin-bottom: 58px;
        }
    }
}