section#titulares.mt-2
	.container-fluid
		.row
			.col-sm-offset-2.col-sm-4
				+titulares('Mercado de Pases 2015','img_especiales.jpg','futbolistas','Mercado de pases 2015: Altas, bajas y rumores de los equipos peruanos','Mercado de pases 2015')
				+titulares('Régimen laboral juvenil','img_especiales_aside.jpg','futbolistas','Ollanta Humala: Los que han perdido, más allá de tambores y panderetas, son 2 millones de jóvenes','Régimen Laboral Juvenil')
			.col-sm-4
				+titulares('Champions League','img_especiales.jpg','futbolistas','¿Podrá el Real Madrid conseguir la "Undécima"?','Champions League')
				+titulares('Super Bowl','img_especiales_aside.jpg','futbolistas','Super Bowl: New England Patriots se consagró campeón al ganar 28-24 a Seahawks|VIDEO','Mercado de pases 2015')
			.col-sm-4
				+img('banner-aside-home.jpg','propaganda')
		
		