//MIXIN DEL FOOTER//
mixin list1(href,name)
    li: a(href="#")=name
mixin list2(href,name)
    li: a(href="#")=name
mixin list3(href,name)
    li: a(href="#")=name
mixin list4(href,name)
    li: a(href="#")=name
//MIXIN DE PORTADA//
mixin social (name)
i.fa.fa-facebook
mixin social (name)
i.fa.fa-twitter
mixin social (name)
i.fa.fa-google-plus
mixin social (name)
i.fa.fa-circle