$bg-gray:#E2E6E9;
$red:#C00101;
$red-dark:#8C0000;
$open-sans:"Open Sans",sans-serif;
$oswald:"Oswald",sans-serif;
$fb-color:#2E6296;
$t-color:#55ACEE;
$g-color:#B74033;
$blue:#3E688C;
$gray:#ddd;
$red:#d9534f;
$electric-blue: #337ab7;
$sky-blue: #00ecff;
$vino: #ce3333;
$dark-gray: #555;
$black: #333;
$light-gray:#E6E6E6;
